sky-show-more {
    display: block;
}

.sky-show-more-content {
    display: block;
    opacity: 0;
    transition: opacity 300ms;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    .open > & {
        opacity: 1;
    }
}

.sky-show-more-toggle {
    display: inline-block;
    background: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 10px 0;
    margin: 0px 0 10px;
    outline: none;
    transition: color 300ms;
}
